<section id="searchPart" >
   <div class="searchPart">
   <label for="searchString">Enter ur search string: </label>
   <input type="text" id ="searchString" (keyup) = "$event.target.value!=''?serachString.next($event.target.value):items=[];searchS=$event.target.value">
  </div>
</section>

<section id ="resultPart" >
    <div class="resultPart">
      <label *ngIf="items.length==0" style="margin-left: 3em">Please enter search string!</label>
        <div *ngFor="let item of items | slice:0:9" class="items">
          <label class="profNAME">{{item.name.title}} {{item.name.last}}, {{item.name.first}}</label>
          <img [src]="item.picture.large" alt="img" class="profPIC">
          <div class="clearFix"></div>
        </div>
    </div>
</section>